<div class="item item-body">
   <div class="order_status">
      <div class="row row-center">
         <div class="col col-70">
            <h5 class="positive">{{ 'ORDER_STATUS' | translate }}:</h5>
         </div>
      </div>
      <div class="row row-center">
         <div class="col col-40">
            {{ 'THE_LIST_WAS_SENT' | translate }}
         </div>
         <div class="col col-30">
            {{ order.created_at | amDateFormat:'HH:mm' }}
         </div>
      </div>
      <div class="row row-center">
         <div class="col col-40">
            {{ 'SENT_REPLY_TO_CUSTOMER' | translate }}
         </div>
         <div class="col col-30">
            {{ order.proposal.proposed_at | amDateFormat:'HH:mm' }}
         </div>
      </div>
      <div class="row row-center">
         <div class="col">
            <div>{{ order.proposal.delivery_time | amDateFormat:'HH:mm' }}</div>
         </div>
      </div>
      <div class="order-circle">
         <div>
            <div>
               <span>{{ 'PENDING_FINAL_APPROVAL' | translate }}</span>
               <i class="icon mk-icon-logo"></i>
            </div>
         </div>
      </div>
   </div>
</div>