<ion-tabs class="tabs-calm tabs-icon-right tabs-color-light rtl" ng-show="$root.client == 'customer'">
  <ion-tab ui-sref="customerOrder" title="{{ 'ORDER' | translate }}" icon="mk-icon-pencil-outline">
  </ion-tab>
  <ion-tab ui-sref="customerShops" title="{{ 'MAP' | translate }}" icon="mk-icon-marker-outline">
  </ion-tab>
  <ion-tab ui-sref="customerSettings" title="{{ 'ACCOUNT' | translate }}" icon="mk-icon-bag">
  </ion-tab>
  <ion-tab ui-sref="customerOrders" title="{{ 'PURCHASES' | translate }}" icon="mk-icon-bread">
  </ion-tab>
</ion-tabs>
