<ion-nav-view class="rtl">
   <ion-view>
      <div class="bar bar-header bar-calm">
        <button class="button button-clear icon-right ion-chevron-right button-light" ng-click="$ionicGoBack()">{{ 'BACK' | translate }}</button>
      </div>
      <ion-content class="has-header" ng-class="$root.devicePlatform=='ios'?'has-header ios':'has-tabs-top android'"  overflow-scroll="true">
          <iframe src="https://makolet.biz/contact-us" ng-style="{'position': 'absolute', 'top': '0px', 'left': '0px', 'bottom': '0px', 'right': '0px', 'margin': 'auto', 'width': '100%', 'height': '100%'}"></iframe>
      </ion-content>
   </ion-view>
</ion-nav-view>
