<script id="terms-of-use.html" type="text/ng-template">
  <ion-modal-view class="rtl">
    <ion-header-bar class="bar bar-header bar-calm">
      <div ng-click="closeTermsOfUse()" class="button button-clear icon-left ion-ios-close-outline button-light"></div>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
      <iframe src="https://makolet.biz/terms-of-use" ng-style="{'position': 'absolute', 'top': '0px', 'left': '0px', 'bottom': '0px', 'right': '0px', 'margin': 'auto', 'width': '100%', 'height': '100%'}"></iframe>
    </ion-content>
  </ion-modal-view>
</script>
